
<body class="body-index">
<p style="color: green"><%= notice %></p>

<head>
  <h1>Tweets</h1>
  <div class="buscar"> 
  <%= form_with url: tweets_path, method: :get do |form|%>
    <%= form.text_field :query_text, placeholder: ('Buscar'), value: params[:query_text]%>
    <%end%>
  </div>
</head>


<div class="container text-center">  
  <div class="row align-items-start tarjeta"> 

    <div class="col"> 
      <% @tweets.each_with_index do |tweet, index| %>
          <div class="card d-inline-flex shadow p-3 mb-5 bg-body-tertiary rounded" style="width: 18rem;">
            <div class="card-body align-items-center">
            <div class="circulo <%= "color#{(index % 3) + 1}" %>"></div>
              <%= render tweet, class:"body-texto"%>
              <p><%= link_to "Show this tweet", tweet, class:"mostrar" %></p>
            </div>
          </div>
      <% end %>
    </div>

  </div>
</div>

<div class="container">
<div class="d-inline-flex"><%= link_to "New TWEET", new_tweet_path, class:"nuevo"  %>
<div class="paginas d-inline-flex"><%=raw pagy_bootstrap_nav(@pagy)%></div></div>
</div>
</body>